p{
    /* color: brown; */
    /* background-color: #964B00; */
    color: brown;
    line-height: 30px;
    text-align: center;

}
h1{
    text-align: center;
    color: red;
}
h3{
    text-align: center;
    color: black;
}
h4{
    text-align: center;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    color: rgb(0,255, 0);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;

}
span{
    text-decoration: underline;
}
textarea{
    color: black;
}