div{
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    /* margin: 10px auto; */
    margin: 10px;
}
section{
    margin-top: 100px;
}

div:nth-last-of-type(2n){
    background-color:#f7db6a ;
}
div:nthlast-of-type(n){
    background-color: #ebb02d;
}

/* #1:hover {
 transform: rotate(45);
} */

/* id which are purely numeric are invalid */

/* transform */

#one{
    /* transform:rotate(45deg); */
    transform:rotate(90deg);
    /* transform:rotate(-90deg); */


}

.scale{
    height: 100px;
    width: 100px;
    transform: scale(2);
}
.scale1{
    height: 100px;
    width: 100px;
    scale: 0.5;
}

#two{
    /* transform: scale(2); */
    /* transform: scale(0.5); */
    /* transform: scaleX(2); */
    transform: scaleY(0.5);

}

#three{
    /* transform: translate(100px,100px); */
    /* transform: translateX(100px); */
    transform: translate(-100px);
}

#four{
    transform:skew(30deg)
}

#five{
    transform: rotate(30deg) translateX(100px);
}

#boxshadow{
    box-shadow: 2px 2px 10px grey;
}

